#main-heading{
	text-align: center;
	color: rgb(40, 14, 14);
	text-transform: capitalize;
}
* {
	text-align: justify;
	color: rgb(40, 14, 14);
	font-size: 14pt;
	font-family: Georgia;
	margin: 5px;
	padding: 5px;
  }
  .flex-container {
	display: flex;
	background-color: #2d545e;
  }
.logo{
	margin-top: 20px;
	width: 160px;
	height: 80px;
}

 body{
	margin:0;
	padding:0;
	color: #fff5d7;
	font-family: Georgia;
	font-size: 14pt;
}

@media screen and (min-width: 1200px) {
	body {
	  background-color:  #ffedbc;
	}
  }
  @media screen and (max-width: 1179px) {
	body {
	  background-color:  #2d545e;
	}
  }
  @media screen and (max-width: 767px) {
	body {
	  background-color: #ff5e6c;
	}
  }
.banner {
	max-width: 100%;
	height: 360px;
	background-image: url(Banner-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
    text-align:  center;
    font-size: 40pt;
  }
a:hover{
	color: black;
	border: 1px white;
	padding: 5px;
	background-color: #acb7ae;
}
a:visited{
	font-style:italic;
	color: #ff5e6c;
}
a:active{
	font-weight: bold;
	color: #8076a3;
}
.main_content
{
	text-align: justify;
	color: black
}

nav ul li {
	display: inline-block;
	padding: 0px 20px;
} 
h2, th, tr, td {
	border: 1px solid;
	border-collapse: collapse;
	border-color: #2d545e;
	border-radius: 10x;
}

footer {
	color: rgb(40, 14, 14);
	text-align: justify;
	display: flex;
}
.aside_content{
	text-align: justify;
	color: rgb(40, 14, 14);
}
#photo {
	width: 100px;
	height: 200px;
	float: left;
	margin-left: 100%;
}
.flex-container {
	display: flex;
	flex-direction: row;
  }

  .flexlist {
	display: flex;
	flex-direction: column;
}
  @media (min-width: 800px) {
	.flexlist {
		display: flex;
		flex-direction: row;
	}
  }


  @media (max-width: 800px) {
	.flex-container {
	  flex-direction: column;
	}
  }
  
